.container{
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
/*   background-color: red; */
}
.checkout-nevbar{
  background-color: #fff;
/*   background-color: blue; */
  padding: 0;
  position: fixed;
  top: 0;
  width: inherit;
  z-index: 1;
}
.checkout-left{
  flex: 1;
/*   background-color: red; */
}
.checkout-right{
  flex: 1;
/*   background-color: green; */
}
.checkout-middle{
/*   background-color: yellow; */
  justify-content: center;
}
.checkout-item{
  font-size: 25px;
  font-weight: 550;
}
.checkout-item-quantity{
  text-decoration: none;
  color: #000;
}
.cart-section{
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-top: 120px;
}
.cart-container{
  display: flex;
/*   display: grid;
  grid-template-columns: repeat(3,1fr);
  background-color: gray; */
  gap: 10px;
  align-items: baseline;
  margin-top: 15px;
}
.checkout-item-container{
  flex: 2;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 8px;
}
.card{
/*   background-color: red; */
  padding: 20px;
  border: 1.5px solid rgba(128, 128, 128, 0.756);
  border-radius: 10px;
}
.item-details{
  display: flex;
  margin-top: 25px;
}
.image-container{
  width: 150px;
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-details img{
  max-width: 100%;
}
.item-name-price{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 265px;
  gap: 8px;
  margin-right: 25px;
}
.item-name{
  font-weight: bold;
}
.price-checkout{
  color: brown;
  font-weight: bold;
}
.quantity{
  display: flex;
  gap: 4px;
}
.update-div{
  width: 50px;
  display: flex;
  gap: 2px;
}
 .save-div{
  display: none;
} 
.save-visibility{
  width: 100%;
  display: flex;
  gap: 2px;
}
 .update-visibilty{
  display: none;
}
.update-input{
  width: 50%;
}
span{
  cursor: pointer;
  color: rgb(104, 104, 203);
}
span:hover{
  color: orange;
}
.delivery-options{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.option-txt{
  font-weight: bold;
}
.delivery-options-button{
  display: flex;
  gap: 5px;
}
.radio{
  width: 18px;
}
.radio-options{
  display: flex;
  flex-direction: column;
}

.date-color{
  font-size: 17px;
  font-weight: bold;
  color: rgb(35, 105, 35);
}
.shipping-text{
  opacity: 0.6;
}
.cart2{
  flex: 1;
  background-color: teal;
  padding: 20px;
}